---
import PageLayout from '../layouts/PageLayout.astro'

// THIS NEEDS TO BE UP HERE, OTHERWISE IT WON'T BUILD?
export const prerender = true

const floats = await fetch(
  'https://www.random.org/decimal-fractions/?num=2&dec=10&col=1&format=plain&rnd=new',
)
  .then((res) => res.text())
  .then((t) => t.split('\n').map((s) => Number.parseFloat(s)))

const x = ((360 * (floats[0] * 2 * Math.PI - Math.PI)) / (2 * Math.PI)).toFixed(
  5,
)
const y = (
  (360 * (Math.PI / 2 - Math.acos(floats[1] * 2 - 1))) /
  (2 * Math.PI)
).toFixed(5)
---

<PageLayout title="this is so random!" description="Hmmm, what is this?">
  <h1
    class="text-center text-neutral-800 dark:text-neutral-100 font-semibold my-8 text-2xl block"
  >
    You have been x: <span
      class="underline decoration-blue-600 underline-offset-4 decoration-wavy"
      >{x}</span
    >, y: <span
      class="underline decoration-blue-600 underline-offset-4 decoration-wavy"
      >{y}</span
    >.
  </h1>
</PageLayout>
