---
import PageLayout from '../layouts/PageLayout.astro'

export const prerender = true
---

<PageLayout title="horsed?" description="You have been horsed!">
  <h1
    class="text-center text-neutral-800 dark:text-neutral-100 font-semibold my-8 text-2xl block"
  >
    You have been <span
      class="underline decoration-blue-600 underline-offset-4 decoration-wavy"
      >horsed</span
    >.
  </h1>
</PageLayout>
